Source: nv-gstreamer1.0-nvvidconv
Section: video
Priority: optional
Maintainer: Hugo Melder <contact@hugomelder.com>
Build-Depends: debhelper-compat (= 13),
               meson,
               ninja-build,
               pkg-config,
               nv-l4t-drivers-dev,
               libgstreamer1.0-dev,
               gstreamer1.0-plugins-base,
               gstreamer1.0-plugins-good,
               libgstreamer-plugins-base1.0-dev
Standards-Version: 4.6.2.0

Package: nv-gstreamer1.0-nvvidconv
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: GStreamer plugin for mapping buffers into video memory.
